<section class="row">
	<div class="col-sm-6 col-md-3">
		<div class="inner">
			<h5>Corporate</h5>
			<ul>
				<li><a href="/profilo/">Profile</a></li>
				<li><a href="/governance/">Governance</a></li>
				<li><a href="/associates/">Le aziende socie</a></li>
				<li><a href="/network-fornitori-accreditati/">Network Fornitori Accreditati</a></li>
				<li><a href="/contatti/"></a></li>
			</ul>
			<h5>Seguici su</h5>
			<ul class="social-links list-inline"> <li><a href="https://goo.gl/62i82A" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li> <li><a href="https://goo.gl/ffMvzl" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li> <li><a href="https://goo.gl/DgaeKG" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li> <li><a href="https://goo.gl/RxnCfu" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
			</ul>
		</div>
		</div>
			<div class="col-sm-6 col-md-3">
				<div class="inner"><h5>Servizi</h5><ul><li><a href="/innovazione-collaborativa/">Innovazione tecnologica</a></li><li><a href="/scouting-tecnologico/">Scouting tecnologico</a></li><li><a href="/sviluppo-dellinnovazione/">Sviluppo dell'innovazione</a></li></ul><h5><a href="https://collaboration.crit-research.it" target="_blank"><i class="fa fa-lock"></i> Area riservata</a></h5></div></div><div class="col-sm-12 col-md-6"><div class="inner"><h5>CRIT S.R.L.</h5><p><a href="https://goo.gl/SGZfg9">Via Confine, 2310 - 41058 Vignola (MO)</a><br>Tel.: <a href="tel://+39 059 776 865">+39 059 776 865</a> - FAX: +39 059 776 881<br>E-mail: <a href="mailto:info@crit-research.it">info@crit-research.it</a>- Skype: <a href="skype:critsrl?add">critsrl</a><br>P.I. 02648490361 - Cap. Sociale € 403.800,00 i.v.<br>Iscritta al Reg. delle Imprese di Modena - Iscr. n. 02648490361 - REA 319384</p>
		</div>
	</div>
</section>