{% extends "base.html" %}

{% block content %}

<div id="content" class="bs-docs-header" ></div>

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    	
                
            <div class="panel panel-info" >
                <div style="padding-top:30px" class="panel-body">
                   <button class="btn login-btn">
                        <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>      
                   </button> 
                    
                </div>
            </div>      
        </div>        
    </div>    

{% endblock %}
																									