{% extends "base.html" %}

{% block content %}

<script>
	tinymce.init({selector:'#blog-test'});
</script>

<div id="content" class="bs-docs-header" >
	<p>Add blog</p>
</div>

<div class="container bs-docs-container">
		<div class="row">
			<div class="col-md-9">
				
				<div class="bs-docs-section">	
					<div class="bs-example">

						{% if messages %}
						{% for msg in messages %}

							<div class="alert alert-danger fade in"> 
							<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
							{{ msg.message }}	
							</div>

						{% endfor %}
						{% endif %}

						<form action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
							  <div class="form-group">
							    <label for="title">Title</label>
							    <input type="text" class="form-control" name="title" id="title" placeholder="Enter title">
							  </div>
							  
							  <div class="form-group">
							    <label for="exampleInputFile">Image</label>
							    <input type="file" name="image" id="image">
							  </div>

							  <div class="form-group">
							    <label for="tags">Tags</label>
							    <input type="text" class="form-control" name="tags" id="tags" placeholder="Enter comma seperated tags">
							  </div>
							  
							  <div class="form-group">
							  	<label for="tags">Content</label>
							  	<textarea name="content" id="blog-test"></textarea>
							  </div>		

							  <button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</div>	
		</div>		
	</div>



{% endblock %}
